@font-face{
  font-family: Snowes;
  src:url(fonts/Snowes.ttf);
}
*{
  font-family: Tahoma;
  color:grey;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}
#top {
  text-align: center;
  margin: 0 auto;
}
#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}
h2, h4{
  font-family: Snowes;
}
input[type=submit] {
  background-color: silver;
  border:none;
  color:aquamarine;
  padding: 7px;
  text-align: center;
  display: inline-block;
  border-radius: 8px;
  font-size: 12px;
}
input[type=submit]:hover {
  background-color: grey;
}